body
	margin: 0
	padding: 0

h1, h2, h3, h4, h5, h6
	margin: 0
	padding: 0

ul
	list-style: none
	margin: 0
	padding: 0

.draggable
	display: block
	float: left
	z-index: 100
	margin: 1em

	h3
		padding: 0
		margin: 0
		cursor: move
		font-size: 1em

	ul
		list-style: none
		padding: 0
		margin: 0

		li
			font-size: .8em

			li a
				text-decoration: none

#templates, #dialogs
	display: none
