//-
option(value="0") 12am
option(value="1") 1am
option(value="2") 2am
option(value="3") 3am
option(value="4") 4am
option(value="5") 5am
option(value="6") 6am
option(value="7") 7am
option(value="8") 8am
option(value="9") 9am
option(value="10") 10am
option(value="11") 11am
option(value="12") 12pm
option(value="13") 1pm
option(value="14") 2pm
option(value="15") 3pm
option(value="16") 4pm
option(value="17") 5pm
option(value="18") 6pm
option(value="19") 7pm
option(value="20") 8pm
option(value="21") 9pm
option(value="22") 10pm
option(value="23") 11pm
