!!!
<html lang="en" ng-app="iio">
head
		meta(charset="utf-8")
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		title Is it Open?

		link(rel="stylesheet", href="styles/iio.css")
		//-link(rel="stylesheet", href="styles/lib/bootstrap.css")
		link(rel="stylesheet", href="scripts/lib/$/mobile/jquery.mobile-1.2.0.min.css")
		//- link(rel="stylesheet", href="styles/lib/jqm-2col.css")

		script(src="scripts/lib/$/min.js")
		script(src="scripts/jqm-overrides.js")
		script(src="scripts/lib/$/ui/min.js")

		//- script(src="scripts/lib/$/mobile/jquery.mobile-1.2.0.min.js")
		script(src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.js")
		script(src="scripts/lib/$/jsplumb/min.js")
		script(src="scripts/lib/bootstrap/min.js")
		script(src="scripts/lib/_/dev.js")
		script(src="scripts/lib/_/superscore.js")
		script(src="scripts/lib/jefri/min.js")

		script(src="scripts/lib/angular/dev.js")
		script(src="scripts/lib/angular/ui/min.js")

	body
		div(data-role="page", ng-view, apply-jq-mobile)


		#templates(ng:hide)
			include ../templates.html

		script(src="scripts/app.js")
		script(src="scripts/filters.js")
		//- script(src="scripts/controllers.js")
		script(src="scripts/services.js")
		//- script(src="scripts/directives.js")
		script(src="scripts/components.js")

		//- script(src="dist/modeler.min.js")
		//- script(src="dist/modeler.ls.js")
