//-
div(data-role="header", class="ui-header ui-bar-a", locationDetails)
	a(data-iconpos="left", data-icon="back", class="ui-btn-left", href="#/locations") Back
	h1(class="ui-title") {{location.name()}}

div(data-role="content")
	div(ng-hide="isOpen()")
		h2 Closed!
	div(ng-show="isOpen()")
		h2 Open Now!
		p Open for another <b>{{timeLeft().bigHand}} hours</b> and <b>{{timeLeft().littleHand}} minutes</b> today.
	div
		h3 Hours

		table(class="table table-striped")
			tr
				td
					b Daily
				td
					{{location.open() | niceTime}} until {{location.close() | niceTime}}

			tr(ng-repeat="exception in location.exceptions() | orderBy:sortOn")
				td
					b {{exception.day() | niceDay}}
				td
					{{exception.open() | niceTime}} until {{exception.close() | niceTime}}
